---
title: "Hosting"
url: "/docs/getting-started/deploying-static-hosting/"
icon: "folder"
weight: 6
layout: false
hidden: true
---

{namespace pageDocsHostingIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{$page.url}'">
  </head>
  </html>
{/template}
