---
description: "Everything you need to know to get started with WeDeploy."
title: "Documentation"
url: "/docs/getting-started/"
layout: false
weight: 1
---

{namespace pageDocsIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}