---
title: "Configure"
url: "/docs/configure/the-wedeployjson/"
icon: "gear"
weight: 2
layout: false
---

{namespace pageDocsFeaturesIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{$page.url}'">
  </head>
  </html>
{/template}
