---
title: "Liferay Portal CE Tutorial"
description: "In this section, you'll learn how to deploy an instance of Liferay Portal CE."
tutorialTitle: "Getting started with Liferay Portal CE"
url: "/tutorials/liferay-portal-ce/get-started/"
hidden: true
layout: false
---

{namespace liferayceTutorials}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{$page.url}'">
  </head>
  </html>
{/template}
